@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://alexkolmar.github.io/fonts/fa/all.css');

/* Tahoma */
@import url('https://alexkolmar.github.io/fonts/Tahoma/stylesheet.css');

/* Kingthings Petrock */
@import url('https://alexkolmar.github.io/fonts/Kingthings_Petrock/stylesheet.css');

/* Abaddon */
@import url('https://alexkolmar.github.io/fonts/Abaddon/stylesheet.css');

/* Oblivion */
@import url('https://alexkolmar.github.io/fonts/Oblivion/stylesheet.css');

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position:absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --pun-bg: #f7f0e1;
  --link: #334f8e;
  --link-hover: #657eb7;
  --brown: #3f3021;
  --brown2: #3a2512;
  --gold: #81532a;
  --cover: rgba(173, 166, 153, 35%);
  --cover2: rgba(251, 240, 220, 35%);
  --text-bg: #fbf0dc;
  --bigpad: 10px 60px;
  --midpad: 10px 37px;
  --pad: 5px 10px;
  --ktp: 'Kingthings Petrock';
  --abd: 'Abaddon';
  --obl: 'Oblivion';
  --fa: 'Font Awesome 6 Pro', 'Font Awesome 6 Free', 'Font Awesome 6 Brands';
  --fad: 'Font Awesome 6 Duotone';
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--gold) var(--brown2);
}

*::-webkit-scrollbar {width: 7px; height: 7px;}
*::-webkit-scrollbar-track {background-color: var(--brown2);}
*::-webkit-scrollbar-thumb {background-color: var(--gold);}
*::-webkit-scrollbar-thumb:active {background: var(--text-bg);}

:focus {outline: none;}

a, .punbb #pun-admain a {
  text-decoration: none;
  color: var(--gold);
  transition: all .2s linear 0s;
}

a:hover, .punbb #pun-admain a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0;
}

h1, h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  font-family: var(--abd);
  letter-spacing: .5px;
  color: var(--brown);
}

ul, dl, li, dd, dt {list-style: none;}

address, em {font-style: normal;}

.modlist, .lastedit, .punbb div#pun-live-rusff, .punbb .topic a.sharelink {display: none;}

#tags .container, .post_report, .post_reputation, #MyBookmarks, .pun-modal .modal-inner {
  background: url(https://forumstatic.ru/files/0011/c0/7c/98424.jpg) repeat top center var(--pun-bg);
}

.pun-modal .closer {
  font-family: tahoma;
}

#tags .container {
  padding: var(--pad) !important;
  border: 1px solid var(--gold);
  top: 0 !important;
  max-height: 300px;
  overflow: auto;
}

/* ОФОРМЛЕНИЕ КНОПОК
------------------------------------------*/

input.button, #pun-admain input.button, #sub4, input[type="button"] {
  padding: 2px 10px;
  background: var(--pun-bg);
  border: 1px solid var(--gold);
  cursor: pointer;
  transition: all .2s linear 0s;
  box-shadow: 2px 2px 1px var(--brown);
  color: var(--link);
  font-weight: bold;
  letter-spacing: 1px;
}

input.button:hover, #pun-admain input.button:hover, #sub4:hover, input[type="button"]:hover {
  background: var(--text-bg);
  transform: translate(2px, 2px);
  box-shadow: none;
}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА
------------------------------------------*/

input[type="text"], input[type="password"], textarea, select {
  padding: 2px 5px;
  border: 1px solid var(--gold);
  background: var(--text-bg);
  color: var(--brown);
}


/* Админка
------------------------------------------*/

.punbb-admin .adcontainer, .punbb-admin .adformal {border: none;}

.punbb.punbb-admin .adminmain {padding: 0 37px 0 217px;}


/* Тело форума
------------------------------------------*/

html {
  background: var(--brown2) url(https://forumstatic.ru/files/0011/c0/7c/12451.jpg) repeat top center;
}

#pun {
  margin: 30px auto;
  padding: 37px 0;
  width: 1100px;
  background: url(https://forumstatic.ru/files/0011/c0/7c/98424.jpg) repeat top center var(--pun-bg);
  border-image: url(https://forumstatic.ru/files/0011/c0/7c/98443.png) 37/37px repeat;
  -moz-border-image: url(https://forumstatic.ru/files/0011/c0/7c/98443.png) 37/37px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/0011/c0/7c/98443.png) 37/37px repeat;
  -o-border-image: url(https://forumstatic.ru/files/0011/c0/7c/98443.png) 37/37px repeat;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.punbb {
  font: 12px Tahoma, Arial, Verdana;
  letter-spacing: .5px;
}

.punbb > div .container {padding: var(--bigpad);}


/* Навигационные ссылки */

#pun-navlinks .container {
  text-align: center;
}

#pun-navlinks li {
  padding: 0 5px;
  display: inline;
}

#pun-navlinks li a {
  font-family: var(--ktp);
  font-size: 24px;
  letter-spacing: .5px;
  color: var(--brown);
}

#pun-navlinks li a:hover {
  color: var(--gold);
}

/* Пользовательские ссылки */

#pun-ulinks .container {
  text-align: center;
  padding: 5px 45px;
}

#pun-ulinks li {
  padding: 0 5px;
  display: inline;
}

#pun-ulinks li a {
  font-weight: bold;
  letter-spacing: .5px;
  color: var(--link);
}

#pun-ulinks li a:hover {
  color: var(--link-hover);
}

/* Статус */

#pun-status .container {
  padding: var(--bigpad);
}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

.punbb .container.crumbs {
  padding: var(--bigpad);
}

/* Копирайт */
#pun-about .container {
  text-align: center;
}


/* Главная форумная таблица
------------------------------------------*/

.punbb .forum .container {
  padding: var(--bigpad);
}

.main table {
  table-layout: fixed; width: 100%;
}

.main th {
  padding: 5px 10px;
}

.main td {
  padding: 10px;
}

.tcl {
  width: 50%;
}

.tc2, .tc3, .tcmod {
  text-align: center;
  width: 10%;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl, #pun-modviewforum .tcl {
  width: 300px;
  box-sizing: border-box;
}

#pun-searchtopics .tc2 {
  text-align: left;
  width: 20%;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

tbody.hasicon td.tcl {
  padding-left: 55px;
  position: relative;
  display: flex;
}

/* Иконки */

div.icon {
  position: absolute; 
  margin-left: -55px;
  width: 50px;
  height: 50px;
  background: url(https://forumstatic.ru/files/0011/c0/7c/88623.png) no-repeat top center;
  opacity: .5;
}

tr.inew div.icon {
  opacity: 1;
}

tr.isticky div.icon {
  background: url(https://forumstatic.ru/files/0011/c0/7c/42161.png) no-repeat top center;
  opacity: 1;
}

tr.iclosed div.icon {
  background: url(https://forumstatic.ru/files/0011/c0/7c/97338.png) no-repeat top center;
  opacity: 1;
}


/* Пагинация (Переключаемые страницы, Новая тема + Опрос, Подписка)
--------------------------------------------------------------------------------------------------- */

.multipage {margin-top: 10px;}

.linkst {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  justify-content: space-between;
}

.linkst .pagelink {}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksb .pagelink {
  order: -1;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.linksb noindex {
  order: 1;
}

.linksb .postlink {
  margin-left: auto;
  text-align: right;
}

/* Модераторское меню, RSS, Atom */

.punbb .modmenu .container {
  padding: var(--bigpad);
  text-align: right;
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

/* Главная
------------------------------------------*/

/* Категории */

#pun-index .category tr {
  margin-bottom: 10px;
  padding: 15px;
  background: var(--cover);
  display: flex;
}

#pun-index thead, #pun-index .tc2, #pun-index .tc3 {display: none;}

#pun-index tbody.hasicon td.tcl {
  position: relative;
  display: block;
  width: 500px;
}

#pun-index .category .container {
  padding: var(--bigpad);
}

#pun-index .intd {
  box-sizing: border-box;
  color: var(--brown);
  text-align: justify;
}

#pun-index .tclcon h3 {
  text-align: center;
  margin-bottom: 10px;
}

#pun-index .tclcon h3 a {
  color: var(--link);
}

#pun-index .tclcon h3 a:hover {
  color: var(--link-hover);
}

#pun-index .tclcon .opis {
  height: 100px;
  overflow: auto;
}

#pun-index .tclcon .links {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

#pun-index .tclcon .links a {
  color: var(--gold);
}

#pun-index .tclcon .links a:hover {
  color: var(--link-hover);
}

/* Статистика */

#pun-stats .statscon {
  padding: var(--bigpad);
}

#pun-stats .container {
  padding: 20px 25px;
  background: var(--cover);
}

#pun-stats a {
  font-weight: bold;
  color: var(--link);
}

#pun-stats a:hover {
  color: var(--link-hover);
}

#pun-stats li.item1, #pun-stats li.item2 {
  float: left;
  clear: both;
}

#pun-stats li.item3, #pun-stats li.item4 {
  text-align: right;
}

li#onlinelist {
  margin-top: 10px;
}

/* Шапка
------------------------------------------*/

#pun-title {
  position: relative;
  height: 337px;
  background: url(https://forumstatic.ru/files/0011/c0/7c/86132.png) no-repeat bottom left, url(https://forumstatic.ru/files/0011/c0/7c/26435.png) no-repeat bottom right, url(https://forumstatic.ru/files/0011/c0/7c/51879.png) repeat-x bottom left 37px;
}

#pun-title .title-logo {display: none;}

#pun-title table {
  background: url(https://forumstatic.ru/files/0011/c0/7c/17623.jpg) no-repeat top center;
  height: 300px;
  width: 1026px;
  margin: 0 auto;
}

#html-header {
  position: relative;
}

.tablica {
  position: absolute;
  width: 1026px;
  height: 300px;
  margin: 0 37px;
  z-index: 1;
}

.tablica_under {
  height: 300px;
}

.forum_name {
  position: relative;
  top: 20px;
  left: 40px;
  width: fit-content;
  text-align: center;
}

.top_text {
  font-size: 67px;
  line-height: 70px;
  font-family: var(--obl);
  letter-spacing: .5px;
  background: url(https://forumstatic.ru/files/0011/c0/7c/59154.jpg) repeat-x center left/70% text;
  color: transparent;
  text-shadow: -2px -2px 3px rgba(247, 240, 225, .2), 2px 2px 2px rgba(0, 0, 0, .5);
}

.bottom_text {
  font-size: 36px;
  line-height: 1;
  font-family: var(--ktp);
  letter-spacing: .5px;
  color: var(--brown);
}

.tablica_over {
  height: 300px;
  position: absolute;
  width: 1026px;
  opacity: 0;
  transition: opacity .3s linear 0s;
  backdrop-filter: blur(5px);
  background: var(--cover);
}

.tablica_over:hover {
  opacity: 1;
}

.hotlinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: fit-content;
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 120px;
}

.hotlinks a {
  background: var(--cover2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  line-height: 20px;
  width: 170px;
  text-align: center;
}

.tab_bests {
  height: 300px;
  width: 360px;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.tab_bests span {
  font-family: var(--ktp);
  font-size: 16px;
  text-align: center;
  display: block;
  line-height: 20px;
}

.tab_faces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faces_inner {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.faces_inner a {
  display: block;
  width: 40px;
  height: 40px;
  background: var(--cover2);
  filter: sepia(1) brightness(120%) contrast(70%);
}

.faces_inner a:hover {
  filter: none;
}

.faces_inner a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tab_news {
  background: var(--cover2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100px;
  box-sizing: border-box;
  padding: 10px 15px;
}

.news_inner {
  padding-right: 10px;
  height: 80px;
  overflow: auto;
  scrollbar-color: var(--gold) var(--text-bg);
}

.news_inner p {
  padding-bottom: 5px;
  font-size: 11px;
}


/* Футер
------------------------------------------*/

.punbb #html-footer .container {
  padding: 0;
}

.banners {}

.banners a {
  opacity: .5;
}

.banners a:hover {
  opacity: 1;
}


/* Список тем
------------------------------------------*/



/* Топик
------------------------------------------*/

.post {
  padding: var(--midpad);
}

.toppost, .topicpost {
  margin-top: 0;
}

.punbb .post > .container {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.post h3 {
  margin-bottom: 10px;
}

.post h3 span {
  display: block;
  padding: var(--pad);
  background: var(--cover);
}

.post h3 strong {
  float: right;
  text-align: right;
  font-weight: normal;
}

/* Автор */

.post-author {
  width: 240px;
  text-align: center;
  -moz-border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  color: var(--brown2);
}

.post-author ul {
  padding: 20px 15px;
}

.pa-author {
  font-family: var(--ktp);
  font-size: 24px;
}

.pa-author a {
  color: var(--link);
}

.pa-author a:hover {
  color: var(--link-hover);
}

.pa-title {
  margin-bottom: 10px;
}

.pa-avatar img {
  border: 3px solid transparent;
  -moz-border-image: url(https://forumstatic.ru/files/0011/c0/7c/53852.png) 3 repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/0011/c0/7c/53852.png) 3 repeat;
  border-image: url(https://forumstatic.ru/files/0011/c0/7c/53852.png) 3 repeat;
}

.plank {
  margin-bottom: 10px;
  padding-right: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--cover);
  gap: 10px;
}

.plankico {
  margin-left: -10px;
  flex-shrink: 0;
}

.planktext {
  flex-grow: 1;
}

.planktext span {
  font-weight: bold;
}

.post-author .lz {
  margin: 0 auto 10px;
  padding: 0 5px;
}

.pa-posts, .pa-respect, .pa-fld3, .pa-fld4 {
 display: inline-block;
 width: 45px;
}

.pa-posts .fld-name, .pa-respect .fld-name, .pa-fld3 .fld-name, .pa-fld4 .fld-name {
  font-family: var(--fa);
  font-weight: 700;
  font-size: 16px;
  color: var(--gold);
}

.pa-respect .fld-name, .pa-respect .fld-name a {
  font-size: 0;
  color: var(--gold);
}

.pa-respect .fld-name a:hover {
  color: var(--link-hover);
}

.pa-respect .fld-name a:before {
  content: '\e1ac';
  font-size: 16px;
}

.gid3 .pa-respect .fld-name, .pa-respect .fld-name a:after {
  font-size: 16px;
}

.pa-online, .pa-last-visit {
margin: 10px auto;
}


/* Тело поста */

.post-body {
  width: calc(100% - 240px);
}

.post-box {padding: 10px;}

.post-links {
  margin: 10px 0 0 240px;
  width: 100%;
}

.post-links ul {
  padding: 0;
  margin-left: -240px;
  text-align: right;
}

.post-links li {
  display: inline;
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email, .pl-website {
  float: left;
}

.clearer {clear: both; height: 0; font-size: 0;}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {font: 11px monaco;}

.post-content em {font-style: italicж}

.post .post-content td {border-width: 0px !important;}

.post-content em.bbuline {font-style: normal; text-decoration: underline;}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0;
}

.post-content img {vertical-align: middle;}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

.quote-box, .code-box {
  margin: 4px 10px 10px;
  padding: 10px;
  border: 1px solid var(--cover);
  background: var(--cover2);
}

.quote-box cite {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
}

.code-box strong.legend {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
}

.post-sig dt {
  border-bottom: 1px solid #ccc;
  width: 300px;
  margin: 10px auto;
}

/* Форма ответа */

#tags {
  position: relative;
}

/* Формы
------------------------------------------- */

.checkfield input[type="checkbox"], .radiofield input[type="radio"] {margin: 0 3px;}
p[class="checkfield"] *, div[class="checkfield"] *, fieldset[class="radiofield"] * {height: 20px; vertical-align: middle;}

textarea, input, select, optgroup {font-size: 14px;}
optgroup {font-weight: bold;}

.formal .container {padding: var(--bigpad);}

.formsubmit {
  padding: 0;
  margin: 10px 0 0 0;
}

.formsubmit input, .formsubmit a, .formsubmit span {margin: 0 6px 0 0;}

fieldset {border: none;}
  fieldset legend {
  font-weight: bold;
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0 0 8px 0;
}

.fs-box {padding: 5px 0;}
.fs-box p, .fs-box fieldset {padding: 0 0 8px 0;}

.inline .inputfield, .inline .selectfield, .inline .passfield {float: left;margin-right: 1em;}
.inline .infofield {clear:both}
.datafield br {display: none}
.required label, .datafield span.input {font-size: 10px;}
textarea, .longinput input {width: 64%; margin: 0;}
.hashelp {position: relative;}

#main-reply {box-sizing: border-box;}


/* Профиль + ЛС
------------------------------------------*/

#profile .container {
  padding-left: 250px;
  min-height: 100px;
}

#profilenav {
  float: left;
  width: 180px;
  margin-left: -180px;
}

#profilenav li {
margin-bottom: 5px;
}

#viewprofile h2, #profilenav h2 {
  padding: 0;
  margin: 0;
}

#viewprofile .container tr {
  display: flex;
  align-items: start;
  gap: 40px;
}

#viewprofile li {
  padding: 5px 0;
}

#viewprofile li strong {
  font-weight: normal !important;
}

.punbb #profile-left {
  padding: 20px 15px !important;
  width: 240px;
  text-align: center;
  -moz-border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  border-image: url(https://forumstatic.ru/files/0011/c0/7c/34250.png) 15/15px repeat;
  box-sizing: border-box;
}

#profile-left #profile-name {
  font-family: var(--ktp);
  font-size: 24px;
  color: var(--link);
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 150px;
  flex-shrink: 0;
  font-weight: bold;
}

img.avatardemo {
  float: right;
  margin: 0 0 8px 18px;
}

#pun-messages .clearer {
  display: none;
}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal, #pun-userlist .formal .container {margin-bottom: 0;}

#pun-userlist .formal .container {padding: var(--bigpad);}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .tcl {width: 40%}

.usertable .container {}

/* Собщения об ошибках */

.info .container {padding: var(--pad);}
.info .container .backlink {padding-top: 8px;}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {padding: 0 0 5px 0;}
.info-box .legend {font-weight: bold;}


/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up, .go-down {
  cursor: pointer;
  opacity: .5;
  z-index: 9999;
  display: none;
  position: fixed;
  margin-left: 1120px !important;
  box-sizing: border-box;
  font-family: var(--abd);
  transition: all .3s linear 0s;
}

.go-up {
  top: 260px;
  font-size: 50px;
  color: var(--pun-bg);
}

.go-down {
  top: 320px;
  font-size: 30px;
  color: #a68e79;
}

.go-down:hover, .go-up:hover {opacity: 1;}


/* Иконки в форме ответа 
-------------------------------------------------------------*/

.punbb #main-reply {box-sizing: border-box;}
.punbb #form-buttons table {width: 100%;}

.punbb #form-buttons tr {
display: flex;
display: -webkit-flex;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
justify-content: space-between;
padding: 0 0 5px;
width: 100%;
}

#form-buttons td {
background-image: none !important;
position: relative;
display: inline-block;
width: 30px;
height: 30px;
}

.punbb #form-buttons td img {
width: 30px;
height: 30px;
}

#form-buttons td:before, #form-buttons td:after {
content: " ";
font-family: var(--fad);
font-size: 20px;
color: var(--gold);
font-weight: 900;
position: absolute;
pointer-events: none;
transition: all .5s linear 0s;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
left: 0;
top: 0;
}

.punbb-admin #form-buttons td:before {
  font-family: var(--fa);
  font-weight: 400;
}

.punbb-admin #form-buttons td:after {
  display: none;
}

#form-buttons td:hover:before {color: var(--link-hover);}

/* Стандартные кнопки */

td#button-font:before {content: "\f031";}
td#button-font:after {content: "\f031\f031";}
td#button-size:before {content: "\f894";}
td#button-size:after {content: "\f894\f894";}
td#button-bold:before {content: "\f032";}
td#button-bold:after {content: "\f032\f032";}
td#button-italic:before {content: "\f033";}
td#button-italic:after {content: "\f033\f033";}
td#button-underline:before {content: "\f0cd";}
td#button-underline:after  {content: "\f0cd\f0cd";}
td#button-strike:before {content: "\f0cc";}
td#button-strike:after {content: "\f0cc\f0cc";}
td#button-left:before {content: "\f036";}
td#button-left:after {content: "\f036\f036";}
td#button-center:before {content: "\f037";}
td#button-center:after {content: "\f037\f037";}
td#button-right:before {content: "\f038";}
td#button-right:after {content: "\f038\f038";}
td#button-link:before {content: "\f0c1";}
td#button-link:after {content: "\f0c1\f0c1";}
td#button-spoiler:before {content: "\f070";}
td#button-spoiler:after {content: "\f070\f070";}
td#button-spoiler:hover:before {content: "\f06e";}
td#button-spoiler:hover:after {content: "\f06e\f06e";}
td#button-image:before {content: "\f1c5";}
td#button-image:after {content: "\f1c5\f1c5";}
td#button-video:before {content: "\f144";}
td#button-video:after {content: "\f144\f144";}
td#button-hide:before {content: "\f13e";}
td#button-hide:after {content: "\f13e\f13e";}
td#button-hide:hover:before {content: "\f023";}
td#button-hide:hover:after{content: "\f023\f023";}
td#button-quote:before {content: "\f086";}
td#button-quote:after {content: "\f086\f086";}
td#button-code:before {content: "\f121";}
td#button-code:after {content: "\f121\f121";}
td#button-color:before {content: "\f53f";}
td#button-color:after{content: "\f53f\f53f";}
td#button-table:before {content: "\f0ce";}
td#button-table:after {content: "\f0ce\f0ce";}
td#button-smile:before {content: "\f59a";}
td#button-smile:after {content: "\f59a\f59a";}
td#button-keyboard:before {content: "\f11c";}
td#button-keyboard:after {content: "\f11c\f11c";}
td#button-addition:before {content: "\f0fe";}
td#button-addition:after {content: "\f0fe\f0fe";}
td#button-files_rusff:before {content: "\f07b";}
td#button-files_rusff:after {content: "\f07b\f07b";}
td#button-files_rusff:hover:before {content: "\f07c";}
td#button-files_rusff:hover:after {content: "\f07c\f07c";}
td#button-graffiti_rusff:before {content: "\f5bd";}
td#button-graffiti_rusff:after {content: "\f5bd\f5bd";}

/* Дополнительные кнопки */

td#button-indent:before {content: "\f03c";} /* тег абзаца */
td#button-indent:after {content: "\f03c\f03c";}
td#button-styles:before {content: "\f1de";} /* дополнительные стили */
td#button-styles:after {content: "\f1de\f1de";}
td#floatbut:before {content: "\f1ea";} /* тег обтекания изображения от Romych */
td#floatbut:after {content: "\f1ea\f1ea";}
td#button-justify:before {content: "\f039";} /* тег выравнивания по ширине */
td#button-justify:after {content: "\f039\f039";}
td#button-mask:before {content: "\f630";} /* тег для скрипта ролевой маски от человека-шамана */
td#button-mask:after {content: "\f630\f630";}
td#button-sticker:before {content: "\f1b0";} /* тег для дополнительных смайлов от человека-шамана */
td#button-sticker:after {content: "\f1b0\f1b0";}


/* html
-------------------------------------------------------*/